DSA-Alchemie/data/data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="labID">
    <xs:restriction base="xs:byte">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rareInt">
    <xs:restriction base="xs:byte">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Alchemie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="rezept">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="name" type="xs:string" />
              <xs:element minOccurs="1" name="gruppe" type="xs:string" />
              <xs:element minOccurs="0" name="beschaffung">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kosten" type="xs:string" />
                    <xs:element name="seltenheit" type="rareInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="1" name="labor" type="labID" />
              <xs:element minOccurs="1" name="probe">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="brauen" type="xs:integer" />
                    <xs:element name="analyse" type="xs:integer" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="verbreitung" type="xs:integer" />
              <xs:element minOccurs="0" name ="merkmale" type="xs:string" />
              <xs:element minOccurs="0" name="haltbarkeit" type="xs:string" />
              <xs:element minOccurs="0" name="preis" type="xs:string" />
              <xs:element minOccurs="0" name="rezeptur" type="xs:string" />
              <xs:element minOccurs="0" name="wirkung">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="M" type="xs:string" />
                    <xs:element name="A" type="xs:string" />
                    <xs:element name="B" type="xs:string" />
                    <xs:element name="C" type="xs:string" />
                    <xs:element name="D" type="xs:string" />
                    <xs:element name="E" type="xs:string" />
                    <xs:element name="F" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="seite" type="xs:integer" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>